@model IEnumerable<Senhas.Models.Entities.Senha>
@using Senhas.Helpers;

@{
    ViewData["Title"] = "Painel de Chamadas";
    var ultima = Model.FirstOrDefault();
}

<meta http-equiv="refresh" content="5" />

<body>



<div class="painel-container">
    <div class="painel-header">
        <h1>Senha Atual</h1>
        <h3 class="painel-container-tempomedio-h3"> Tempo médio de espera: <span>@ViewBag.TempoMedioEspera</span></h3>
        
    </div>

    @if (ultima != null)
    {
        <div class="painel-atual">
            <div class="senha-atual">
                @ultima.Codigo
            </div>
            <div class="guiche-atual">
                @ultima.Guiche?.Nome
            </div>
        </div>
    }
    
    <div class="painel-historico">
        <h3>Últimas Chamadas</h3>
        

        <table class="painel-tabela">
            <thead>
            <tr>
                <th>Senha</th>
                <th>Guichê</th>
                <th>Horário</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var s in Model)
            {
                <tr>
                    <td>@s.Codigo</td>
                    <td>@s.Guiche?.Nome</td>
                    <td>@s.DataChamada?.ToCampoGrande().ToString("HH:mm")</td>

                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
</body>

<style>
    

    /* Espaço para não ficar atrás do menu */
    .painel-container {
        padding-top: 120px;
        padding-left: 40px;
        padding-right: 40px;
        min-height: 100vh;
    }

    .painel-header {
        text-align: center;
        margin-bottom: 50px;
    }

        .painel-header h1 {
            font-size: 3rem;
        }

    .painel-atual {
        text-align: center;
        margin-bottom: 60px;
    }

    .senha-atual {
        font-size: 6rem;
        font-weight: bold;
        color: #ffc107;
    }

    .guiche-atual {
        color: black;
        font-size: 2.5rem;
    }

    .painel-historico h3 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .painel-tabela {
        width: 100%;
        border-collapse: collapse;
        font-size: 1.5rem;
    }

        .painel-tabela th,
        .painel-tabela td {
            padding: 16px;
            text-align: left;
        }

        .painel-tabela thead {
            background-color: #111;
        }

        .painel-tabela tbody tr:nth-child(even) {
            background-color: #1a1a1a;
        }

        .painel-tabela tbody tr:nth-child(odd) {
            background-color: #0f0f0f;
        }

    .painel-container-tempomedio-h3 {
        font-size: 2rem;
        font-weight: bold;
        color: #22D4FD;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 10px 20px;
        border-radius: 8px;
        display: inline-block;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.4);
       
    }


</style>
